# Node
node_modules/
.env
dist/
build/
.cache/
logs/
*.log

# React Native
*.keystore
android/.gradle
android/app/build/
ios/Pods
ios/Podfile.lock
ios/build/
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xcuserdata

# Hardhat
artifacts/
cache/
typechain/
coverage/
.env.local
.env.*

# Mac
.DS_Store

# VSCode
.vscode/

# OS
Thumbs.db

# 그외
cookbook_bySusie.md
API_docs.md